html{
    background-color: #383434;

}

body {
    width: 100%;
    padding: 0;
    margin: 0;
  }
header{
    position: fixed;
    height: 172px;
    background-color: #282525;
    top: -93px;
    width: 100%;
    max-width: 100%;
    z-index: 2;
}
footer{
    position: absolute;
    left: 0px;
    max-width: 100%;
    width: 100%;
    height: 146px;
    background-color: #282525;
}
    
  

/*Vectores para el Header*/
.Contenedor {

    position: relative;
    height: 200px; /* Altura de tu contenedor */
  }
  
/*Lado Izquierdo*/
#Vector1{
    position: absolute;
    width: 186px;
    height: 37.86px;
    left: -42px;
    top: 123.46px;
    background: #7D2E2E;
    border-radius: 9px;
    transform: rotate(174deg);
    clip-path: path('M 130,1 C -22,25 40,75 164,50 L 147,0 Z');
}
#Vector2{
    position: absolute;
    width: 186px;
    height: 37.86px;
    left: -42px;
    top: 135.45999999999998px;
    background: #7D2E2E;
    border-radius: 9px;
    transform: rotate(193deg);
    clip-path: path('M 130,1 C -22,25 40,75 164,50 L 147,0 Z');
}
#Vector3{
    position: absolute;
    width: 186px;
    height: 22.86px;
    left: -42px;
    top: 115.46px;
    background: #FF3535;
    border-radius: 9px;
    transform: rotate(162deg);
    clip-path: path('M 130,1 C -22,25 40,75 164,50 L 147,0 Z');
}
#Vector4{
    position: absolute;
    width: 186px;
    height: 37.86px;
    left: -42px;
    top: 135.45999999999998px;
    background: #FF3535;
    border-radius: 9px;
    transform: rotate(185deg);
    clip-path: path('M 208,1 C -22,25 40,75 164,50 L 147,0 Z');
}
#Vector5{
    position: absolute;
    width: 186px;
    height: 37.86px;
    left: -63px;
    top: 151.45999999999998px;
    background: #FF3535;
    border-radius: 9px;
    transform: rotate(214deg);
    clip-path: path('M 208,1 C -22,25 40,75 164,50 L 147,0 Z');
}
/*Fin De Los Vectores*/

/*Main*/
section{
    height: 122vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #383434;

}

/*    align-items: center Para centrar los sectores*/

/*Pagina 1*/
#inicio{
    align-items: center;
}  
#Cuadrado{
    position: inherit;
    display: flex;
    height: 354px;
    width: 424px;
    background-color: #FF3535;
    border-radius: 54px;
}
#InicioText1{
    position: inherit;
    color: #FF3535;
    margin-top: 87px;
    padding: 1px;
    font-size: 46px;
    font-style: italic;
}
#InicioText2{
    position: inherit;
    color: #FF3535;
    font-size: 46px;
    font-style: italic;
    font-family: 'Noto Sans', sans-serif;
}
/*Pagina 2*/
#DatosPersonales{}
#DTTexto{
    Font-family: 'Noto Sans';
    font-size: 40px;
    font-style: oblique;
    line-height: 20px;
    color: #FF3535;
    margin-top: 100px;
}

#DTCU1{
    position: absolute;
    width: 315px;
    height: 484px;
    left: 8px;

background: #D9D9D9;
border-radius: 59px;
}

#DTCU2{
    position: absolute;
    left: 368px;
    width: 315px;
    height: 428px;

background: #D9D9D9;
border-radius: 59px;
}

#SDTCU1{
    position: absolute;
    width: 315px;
    height: 484px;
    left: 23px;
    background: #ff3636;
    border-radius: 59px
}

#SDTCU2{
    position: absolute;
    left: 392px;
    width: 315px;
    height: 428px;
    background: #ff3636;
    border-radius: 59px;
}

#TDTCU1{
    Font-family: 'Noto Sans';
    left: 16px;
    font-size: 27px;
    font-style: italic;
    line-height: 20px;
    color: #FF3535;
    position: absolute;
}

p{
    Font-family: 'Noto Sans';
    font-style: italic;
    line-height: 20px;
}

#CuadradoES1{
    position: absolute;
    width: 395px;
    height: 340px;
    left: 18px;
    margin-top: 117px;
    border-radius: 59px;
    background: #D9D9D9;
}

#CuadradoES2{
    position: absolute;
    width: 395px;
    height: 340px;
    left: 585px;
    margin-top: 117px;
    border-radius: 59px;
    background: #D9D9D9;
}

#CuadradoES3{
    position: absolute;
    width: 395px;
    height: 340px;
    left: 368px;
    margin-top: 489px;
    border-radius: 59px;
    background: #D9D9D9;
}
